# Directories
/auto-save-list/
/backups/
/desktop/
/lisp/
!/lisp/**
/config.el
/eln-cache/
/elpa/
/elpaca/
/saveplace/
/tramp
/transient/
/undo-tree-history/
/.bak
/.git/
/.lsp-session-v1
/projectile-bookmarks.eld
/recentf
/eshell/history
/eshell/lastdir
/test
/persp-confs/
