/straight/
/persist/
/auto-save-list/
/backups/
/desktop/
/lisp/*
!/lisp/
/eln-cache/
/elpa/
/elpaca/
/saveplace/
/tramp
/request
/vimish-fold/
bookmarks
/transient/
/undo-tree-history/
/.bak
/.git/
/.lsp-session-v1
/projectile-bookmarks.eld
/recentf
/test
/persp-confs/
%backup%~
/eshell/history
eshell_history
/lock-files/
/.cache
.org-id-locations
projects
/auto-saves
/lsp-servers
/.lsp-session-v1
/.lsp
/mentor/
#config.org#
history
lastdir
/var
.workgroups
registers
saved-layout
test.el
# Ignore the entire eshell directory
# /eshell/*
# !/eshell/aliases
/tree-sitter
\#meow.el\#
\#config.el\#
meow.el.bak
/undo-fu-session/
multisession/

.bookmarks

.config.org.~undo-tree~
ielm-history.eld
.ielm_history
.ielm-history

projects.eld

\#config.org\#

/data
